{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assest/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assest/css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Estore|Index</title>
</head>
<body>
    
      <div class="container">
            <div class="row mt-3">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg bg-info">
                    <!--<nav class="navbar navbar-expand-lg bg.-info-body-tertiary">-->
                        <div class="container-fluid">
                            <nav class="navbar navbar-*">
                                <div>
                                       <a class="navbar-brand" href="#">
                                           <img src="{% static 'assest/images/logo.png' %}" alt="" width="100px" height="50px" alt="">
                                       </a>
                                 </div>
                            </nav>
                         
                          <a class="navbar-brand" href="index.html">MediCare</a>

                          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>

                          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                              <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/home">Home</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="/about">About</a>
                              </li>

                              <li class="nav-item">
                                <a class="nav-link" href= "/viewcart">Cart</a>
                              </li>

                              
                              <li class="nav-item">
                                <a class="nav-link" href= "/contact">Contact</a>
                              </li>

                              {% if user.is_authenticated %}

                              <li class="nav-item">
                                <a class="nav-link" href= "/logout">logout</a>
                              </li>

                              {% else %}

                              <li class="nav-item">
                                <a class="nav-link" href= "/login">login</a>
                              </li>

                              <li class="nav-item">
                                <a class="nav-link" href= "/Register">Register</a>
                              </li>

                              {% endif %}

                                                            
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Filter
                                </a>
                                <ul class="dropdown-menu">
                                  <li>
                                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Category
                                  </a>
                                  <ul>
                                    <li>
                                      <a class="dropdown-item" href="/catfilter/1">Category</a>
                                    </li>
                                  </ul> 
                                  </li>                            
                                        <li><a class="dropdown-item" href="/catfilter/1">Category</a></li>
                                        <li><a class="dropdown-item" href="/catfilter/2">Women Care</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="/catfilter/3">Covid Essential</a></li>
                                        <li><a class="dropdown-item" href="/catfilter/4">Personal Care</a></li>

                                                                             
                                </ul>
                              </li>
                            </ul>
                            <form class="d-flex" role="search">
                              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                              <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                          </div>

                        </div>
                      </nav>
                </div>
            </div><!-- Navigation bar end-->
        <!-- End of Header -->